include data/ubiquiti_device_specs.json
recursive-include unifi2netbox/services/data *.json
recursive-include netbox_unifi_sync/templates *.html
recursive-include netbox_unifi_sync/migrations *.py
recursive-include netbox_unifi_sync/management *.py
