# Absolute host path to this plugin repository
UNIFI2NETBOX_PLUGIN_PATH=/absolute/path/to/netbox_unifi_sync

# Optional secrets if you reference them in plugin UI as env:VAR_NAME
UNIFI_API_KEY=
UNIFI_USERNAME=
UNIFI_PASSWORD=
UNIFI_MFA_SECRET=
